* {
  margin: 0;
  padding: 0;
}
.Righteous-heading {
  font-family: "Righteous", serif;
  font-weight: 900;
  color: #e0b1cbff;
  color: #e72f58;
  font-size: 90px;
  line-height: 100px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  margin: 0;
}
.Righteous-subheading {
  font-family: "Righteous", serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  margin: 0;
}
.Roboto-serif-text {
  font-family: "Roboto Serif", serif;
  /* font-family: "Roboto Slab", serif; */
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

h2 {
  font-family: "Righteous", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.14rem;
}
h3 {
  font-family: "Righteous", serif;
  font-optical-sizing: auto;
  /* font-weight: 100-900; */
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
p {
  /* font-family: "Roboto Slab", serif; */
  font-optical-sizing: auto;
  /* font-weight: 100-900; */
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 12px;
  margin-bottom: 8px;
}
p {
  font-size: 18px;
  color: white;
  line-height: 25px;
}
i {
  color: #be95c4ff;
  color: #e72f58;
  color: #ed5577;
  font-family: "Roboto Serif";
  font-weight: 700;
  font-style: normal;
}
.box {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background_1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 40px;
}
.navbar {
  height: 10%;
  display: flex;
  align-items: center;
}
nav .fa-solid {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}
nav {
  flex: 1;
  text-align: right;
  flex-direction: column;
}
nav ul li {
  list-style: none;
  display: inline;
  margin-left: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  box-sizing: border-box;
}
.header {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url(images/dp_HiddenStories.jpg);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* fade effect */
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #333333;
}
.logo {
  height: 100px;
  cursor: pointer;
  text-align: center;
}

.text-box {
  width: 90%;
  color: #fff;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
nav .fa-solid {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 12px;
  }
  .nav ul li {
    display: block;
  }
  .nav {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav ul {
    padding: 30px;
  }
  .artist p {
    font-size: 14px;
  }
}
.listSection {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  margin-top: 20px;
}
.leftSide {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 200px;
  /* background-color: #333; */
  color: #fff;
  overflow-y: auto;
  max-height: 700px;
}
.rightSide {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  max-height: 700px;
}
.divider {
  width: 1px;
  background-color: #ccc;
  height: auto;
  margin: 0 20px;
}

.artist {
  margin-bottom: 20px;
  color: #fff;
}
.artist h3 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}
.artist p {
  margin: 5px 0 0;
  color: #fff;
}
.artwork-title {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.artwork-title:hover {
  color: rgb(159, 216, 255);
}
